.container{
  display: flex;
  justify-content: space-around;
}

pre{
  text-align: center;
  width: 100%;
  font-size: 3rem;
}
ons-page{
  display: flex;
  justify-content: center;
  text-align: center;
  ons-input{
    width: 90%;
    margin-bottom: 2rem;
  }
}
